@page "/analytics/greenhouse"
@using SmartHome.Clients.WebApp.Shared.Components.DateRangePicker
@using SmartHome.Application.Shared.Queries.WeatherStation.GetTemperature
@using SmartHome.Application.Shared.Queries.WeatherStation.GetWindParameters
@using SmartHome.Application.Shared.Queries.WeatherStation.GetHumidity
@using SmartHome.Application.Shared.Queries.WeatherStation.GetPrecipitation
@using SmartHome.Application.Shared.Queries.WeatherStation.GetPressure
@inherits GreenhouseViewModel

<h3>Greenhouse location: 33-115 Janowice, Poland</h3>
<DxTabs>
    <DxTabPage Text="Temperature">
        <div class="chart-component">
            <DateRangePicker DefaultFromDate="@DefaultFromDateTime" DefaultToDate="@DefaultToDateTime" DateChanged="@OnTemperaturesDatesRangeChanged"></DateRangePicker>
            <DxChart Data="@TemperatureData">
                <DxChartTooltip>
                    <div class="p-3">
                        <p>Temperature: @context.Point.Value °C</p>
                        <p>Timestamp: @context.Point.Argument</p>
                    </div>
                </DxChartTooltip>
                <DxChartLineSeries Name="Temperature [°C]" ArgumentField="@((TemperatureVm s) => FormatArgument(s.Timestamp, CurrentTemperatureGranulation))" ValueField="@(s => s.Temperature)" />
                <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="HorizontalAlignment.Right" />
            </DxChart>
        </div>
    </DxTabPage>
    <DxTabPage Text="Humidity">
        <div class="chart-component">
            <DateRangePicker DefaultFromDate="@DefaultFromDateTime" DefaultToDate="@DefaultToDateTime" DateChanged="@OnHumidityDatesRangeChanged"></DateRangePicker>
            <DxChart Data="@HumidityData">
                <DxChartTooltip>
                    <div class="p-3">
                        <p>Humidity: @context.Point.Value %</p>
                        <p>Timestamp: @context.Point.Argument</p>
                    </div>
                </DxChartTooltip>
                <DxChartLineSeries Name="Humidity [%]" ArgumentField="@((HumidityVm s) => FormatArgument(s.Timestamp, CurrentHumidityGranulation))" ValueField="@(s => s.Humidity)" />
                <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="HorizontalAlignment.Right" />
            </DxChart>
        </div>
    </DxTabPage>
    <DxTabPage Text="Insolation">
        <div class="chart-component">
            <DateRangePicker DefaultFromDate="@DefaultFromDateTime" DefaultToDate="@DefaultToDateTime" DateChanged="@OnPressureDatesRangeChanged"></DateRangePicker>
            <DxChart Data="@PressureData">
                <DxChartTooltip>
                    <div class="p-3">
                        <p>Insolation: @context.Point.Value lux</p>
                        <p>Timestamp: @context.Point.Argument</p>
                    </div>
                </DxChartTooltip>
                <DxChartLineSeries Name="Insolation [lux]" ArgumentField="@((PressureVm s) => FormatArgument(s.Timestamp, CurrentInsolationGranulation))" ValueField="@(s => s.Pressure)" />
                <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="HorizontalAlignment.Right" />
            </DxChart>
        </div>
    </DxTabPage>
    <DxTabPage Text="Soil moisture">
        <div class="chart-component">
            <DateRangePicker DefaultFromDate="@DefaultFromDateTime" DefaultToDate="@DefaultToDateTime" DateChanged="@OnPressureDatesRangeChanged"></DateRangePicker>
            <DxChart Data="@PressureData">
                <DxChartTooltip>
                    <div class="p-3">
                        <p>Soil moisture: @context.Point.Value %</p>
                        <p>Timestamp: @context.Point.Argument</p>
                    </div>
                </DxChartTooltip>
                <DxChartLineSeries Name="Soil moisture [%]" ArgumentField="@((PressureVm s) => FormatArgument(s.Timestamp, CurrentInsolationGranulation))" ValueField="@(s => s.Pressure)" />
                <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="HorizontalAlignment.Right" />
            </DxChart>
        </div>
    </DxTabPage>
</DxTabs>



        @code {


        }
