@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject AppState appState

<MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="@bbDrawerClass">
    <MatDrawer @bind-Opened="@_navMenuOpened">
        <header class="drawer-header">
            <div class="drawer-logo">
                <img alt="KM Smart Home" class="logo-img" src="images/logo_white.svg" title="KM Smart Home">
                <a class="miniHover logo-hover" href="/">KM Smart Home</a>
            </div>
            @*<UserProfile />*@
        </header>
        <NavMenu />
        <footer class="drawer-footer">
          
        </footer>
    </MatDrawer>
    <MatDrawerContent>
        <MatAppBarContainer>
            <MatAppBar Fixed="true">
                <MatAppBarRow>
                    <MatAppBarSection>
                        <MatAppBarTitle>

                        </MatAppBarTitle>
                        <div class="hidden-mdc-down">
                            @*<nav>
                                <ul>
                                    <li>*@
                            <MatTooltip Tooltip="Toggle Navigation">
                                <MatIconButton Class="navToggle" Icon="menu" ToggleIcon="menu" OnClick="@((e) => NavToggle())" RefBack="@context"></MatIconButton>
                            </MatTooltip>
                            @*</li>
                                <li>*@
                            <MatTooltip Tooltip="Minify Navigation">
                                <MatIconButton Class="navToggle" Icon="format_indent_decrease" ToggleIcon="format_indent_increase" OnClick="@((e) => NavMinify())" RefBack="@context"></MatIconButton>
                            </MatTooltip>
                            @*</li>
                                <li>
                                    <MatTooltip Tooltip="Lock Navigation" >
                                        <MatIconButton Class="navToggle" Icon="lock" ToggleIcon="radio_button_unchecked" OnClick="@((e) => NavLock())" RefBack="@context"></MatIconButton>
                                    </MatTooltip>
                                    </li>*@
                            @*</ul>
                                </nav>*@
                        </div>
                    </MatAppBarSection>
                    @*<MatAppBarSection Align="@MatAppBarSectionAlign.End">
                        <MatTooltip Tooltip="Donate to Support">
                            <MatIconButton Link="https://www.paypal.me/enkodellc" RefBack="@context"><i class="fa fa-cc-paypal"></i></MatIconButton>
                        </MatTooltip>
                        <MatTooltip Tooltip="Github Repository">
                            <MatIconButton Link="https://github.com/enkodellc/blazorboilerplate" RefBack="@context"><i class="fa fa-github" aria-hidden="true"></i></MatIconButton>
                        </MatTooltip>
                        <Login></Login>
                    </MatAppBarSection>*@
                </MatAppBarRow>
            </MatAppBar>
            <MatAppBarContent>
                <Breadcrumbs RootLinkTitle="Home"></Breadcrumbs>
                <section class="container-fluid">
                    @Body
                </section>
                <footer class="page-footer">
                    <div class="flex-1">
                        © 2020 KM Smart home Version 0.0.1 - Developed by kmrzyglod. UI template: <a href="https://github.com/enkodellc/blazorboilerplate" target="_blank">Blazor Boilerplate</a>
                    </div>
                </footer>
            </MatAppBarContent>
        </MatAppBarContainer>
    </MatDrawerContent>
</MatDrawerContainer>

@code {
    bool _navMenuOpened = true;
    bool _navMinified = false;
    public string bbDrawerClass = "";


    //private void CallLogin()
    //{
    //    var returnUrl =
    //          navigationManager.ToBaseRelativePath(navigationManager.Uri);
    //    navigationManager.NavigateTo($"/account/Login/{returnUrl}", forceLoad: false);
    //}
    //[CascadingParameter]
    //Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Uncomment to secure entire app  with no anonymous user access
        //navigationManager.NavigateTo("/account/login");

        // Set Default landing page if you want for anonymous user.
        // Authenticated users are redirected after successful login.
        navigationManager.NavigateTo("/");

        //var user = (await authenticationStateTask).User;

        //if (user.Identity.IsAuthenticated)
        //{
        //var profile = await appState.GetUserProfile();
        _navMenuOpened = true;
        _navMinified = false;
        //}
    }

    void NavToggle()
    {
        _navMenuOpened = !_navMenuOpened;
        if (_navMenuOpened)
        {
            bbDrawerClass = "full";
        }
        else
        {
            bbDrawerClass = "closed";
        }

        this.StateHasChanged();
    }

    void NavLock()
    {
        //Todo Lock Nav
    }

    void NavMinify()
    {
        _navMinified = !_navMinified;

        if (!_navMenuOpened)
        {
            _navMinified = true;
        }

        if (_navMinified)
        {
            bbDrawerClass = "mini";
            _navMenuOpened = true;
        }
        else if (_navMenuOpened)
        {
            bbDrawerClass = "full";
        }

        _navMenuOpened = true;
        this.StateHasChanged();
    }
}
